@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react"; 
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react/dist/esm/**/*.mjs";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200;
    @apply dark:bg-gray-900 dark:text-gray-100;
  }
}